.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0 auto;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color:  #f2f2f2;
}

.logo {
  margin: 0;
  padding: 0;
  width: 228px;
  height: 32px;
  z-index: 2;

}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo_place_footer {
  color: #ffffff;
}

.header__title {
  margin: 0 0 0 64px;
  padding: 0;
  align-self: center;
  max-width: 730px;
  line-height: 96px;
  font-weight: 600;
  font-size: 102px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 388px;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-weight: normal;
  font-size: 18px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color:  #2f80ed;
}

.header__main-illustration {
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.description { 
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  column-gap: 10%;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-weight: normal;
  font-size: 24px; 
 }

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  padding: 100px 0 100px;
}

.section-title {
  position: relative;
  margin: 0 auto 20px;
  padding: 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-weight: 600;
  font-size: 60px;
  z-index: 1;
}

.section-title_theme_white {
  color: #000000;
 }

 .section-title_theme_dark {
  color: #ffffff;
 }

 .section-subtitle {
  margin: 0 auto 0;
  padding: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
 }

.section-subtitle_theme_white {
  color: #000000;
}

.section-subtitle_theme_dark {
  color: #ffffff;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 1100px;
  z-index: 1;
}

.table_theme_white {
  margin: 60px auto 0;
  row-gap: 60px;
}

.table_theme_dark {
  margin: 80px auto 0;
  row-gap: 80px;
}

.table__cell_theme_white {
  width: 250px;
  color:  #000000;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: #ffffff;
  z-index: 1;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  z-index: 1;
}

.table__heading_theme_white {
  color:#000000; 
}

.table__heading_theme_dark {
  color:#ffffff;
}

.table__text {
  margin: 20px 0 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.table__text_theme_white {
  color: #000000;
}

.table__text_theme_dark {
  color: #ffffff;
}

.feynman {
  min-height: 890px;
  position: relative;
  background-color:  #f2f2f2;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
 }

.feynman__title {
  margin: 0 auto 0;
  padding: 100px 0 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
}

.feynman__subtitle {
  margin: 70px 0 0;
  padding: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.kaufman {
  padding: 90px 0 90px;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;

}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  height: 877px;
  width: 877px;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: contain;
}

.footer {
  padding: 60px 0 40px;
  background-color: #1f1f1f;
  min-height: 350px;
  box-sizing: border-box;
}
 
.footer__columns {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  padding: 0 5% 0;
    
}

.footer__column_content_copyright {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 711px;
  min-height: 250px;
}

.footer__author {
  margin: 18px 0 18px;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  
}

.footer__column-heading {
  margin: 0 0 20px;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 0 16px;
}

.footer__column-link {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}


